@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Hilangkan :root dan .dark yang isinya manual background */
/* Biarkan kosong saja atau gunakan untuk variabel custom lain */

body {
  /* Hapus baris background-color: var(--background) */
  font-family: var(--font-sans), ui-sans-serif, system-ui;
  @apply antialiased;
}